<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="#" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/form.js') }}"></script>
	<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.simplePagination.js')}}"></script>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/responsive.css') }}">
    <style>
            
        </style>
   
</head>
<body>
<div id ="container">
	<div class="left1"> 
		<div id="topics-filter" class="left">
			<div class="centered">
				<h4>Topics Filter</h4>
				<input type="checkbox" name="topic" id="crime" onclick="getSelected(this)"> Crime  <br>
				<input type="checkbox" name="topic" id="environment" onclick="getSelected(this)"> Environment <br>
				<input type="checkbox" name="topic" id="infra" onclick="getSelected(this)"> Infrastructure  <br>
				<input type="checkbox" name="topic" id="politics" onclick="getSelected(this)"> Politics <br>
				<input type="checkbox" name="topic" id="unrest" onclick="getSelected(this)"> Social Unrest  <br>	
			</div>
		</div>
		<br> <br> 
		<div id="city-filter" class="left">
			<div class="centered">
				<h4>City Filter</h4>
				<input type="checkbox" name="city" id="bangkok" onclick="getSelected(this)"> Bangkok <br>
				<input type="checkbox" name="city" id="delhi" onclick="getSelected(this)"> Delhi <br>
				<input type="checkbox" name="city" id="mexico" onclick="getSelected(this)" > Mexico City <br>	
				<input type="checkbox" name="city" id="nyc" onclick="getSelected(this)"> New York City (NYC) <br>
				<input type="checkbox" name="city" id="paris" onclick="getSelected(this)" > Paris <br>
			</div>
		</div>
		
		<br> <br>
		<div id="lang-filter" class="left">
			<div class="centered">
				<h4>Language Filter</h4>
				<input type="checkbox" name="language" id="english" onclick="getSelected(this)"> English <br>
				<input type="checkbox" name="language" id="french" onclick="getSelected(this)" > French <br>
				<input type="checkbox" name="language" id="hindi" onclick="getSelected(this)"> Hindi <br>
				<input type="checkbox" name="language" id="spanish" onclick="getSelected(this)" > Spanish <br>
				<input type="checkbox" name="language" id="thai" onclick="getSelected(this)"> Thai <br>	
			</div>
		</div>
		
		
	</div>

<div class="middle"><br>
	<form id = "form1">
      <div class="form-group">
       <input type="text" class="form-control"  style="width:60%;" id="search_text">
      </div>
	   <br>
	 <button type="submit" class="btn btn-default">Search</button>
    </form>
	<br>
	<div id = "total-tweets"></div> 
	<!-- <div id = "tweets-div"></div> -->
	<div id = "tweets-div" onclick="twitterHandle()"></div>
	
</div>

<div class="right">
  <div class="centered">
		<center><h4>Analyse</h4> </center>
		<center>
		<select id="mySelect" onchange="updateCharts(this.value)">
				<option selected="location">location</option>
				<option value="language">language</option>
				<option value="topics">topics</option>
		</select>
	   </center> 
	   <br>
    <div id="chartContainer" style="height: inherit; width: 100%;"></div>
  </div>
</div>

</div>
</body>
</html>