<!DOCTYPE html>
<html>
<head>
	<title>GoogleClone</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="{{ url_for('static', filename='js/form.js') }}"></script>
	
</head>
<body>
	<div class="column left">
  <div class="centered">
    <h2>Jane Flex</h2>
    <p>Some text.</p>
  </div>
</div>

<div class="column middle"><br>
	<form id = "form1">
      <div class="form-group">
       <input type="text" class="form-control"  style="width:60%;" id="search_text">
      </div>
	   <br>
	 <button type="submit" class="btn btn-default">Search</button>
    </form>
	
	<br>
	<br>
	<div id = "tweets_div">tweet_text</div>
	
</div>

<div class="column right">
  <div class="centered">
    <h2>John Doe</h2>
    <p>Some text here too.</p>
  </div>
</div>

<!--
	<div class="container" id = "publisherform" style="display:none;">
		<br><br><br><br>
		<form class="form-inline" id = "form2">
		  <div class="form-group">
              <label for="sel1">Select Topics:</label>
  <select class="form-control" id="topic_2">
    <option>Movies</option>
    <option>Sports</option>
    <option>World</option>
    <option>Politics</option>
  </select>
		    <label class="sr-only" for="content">Content:</label>
		    <input type="text" class="form-control" id="content" placeholder="Add your text here...">
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
		<br>
	</div> -->
    <script>
        function subscriberFunc(){
            var targetContainer = document.getElementById("subscriptiondata");
            var userid = document.getElementById('userid').value;
            console.log(userid);
            var url = "/stream?userid="+userid;
            var eventSource = new EventSource(url);
            eventSource.onmessage = function(e) {
                console.log(e.data);
                targetContainer.innerHTML = e.data;
        };
        }
    </script>
</body>
</html>