<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="#" />
	<link rel="shortcut icon" href="#" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.bootpag.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/form.js') }}"></script>
	<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/responsive.css') }}">
    <style>

        </style>

</head>
<body>
<div id ="container">
	<div class="left1">
		<div id="topics-filter" class="left">
			<div class="centered">
				<h4>Topics Filter</h4>
				<input type="checkbox" name="topic" id="crime" onclick="onclickchecker(this)"> Crime  <br>
				<input type="checkbox" name="topic" id="environment" onclick="onclickchecker(this)"> Environment <br>
				<input type="checkbox" name="topic" id="infra" onclick="onclickchecker(this)"> Infrastructure  <br>
				<input type="checkbox" name="topic" id="politics" onclick="onclickchecker(this)"> Politics <br>
				<input type="checkbox" name="topic" id="social unrest" onclick="onclickchecker(this)"> Social Unrest  <br>
			</div>
		</div>
		<br> <br>
		<div id="city-filter" class="left">
			<div class="centered">
				<h4>City Filter</h4>
				<input type="checkbox" name="city" id="bangkok" onclick="onclickchecker(this)"> Bangkok <br>
				<input type="checkbox" name="city" id="delhi" onclick="onclickchecker(this)"> Delhi <br>
				<input type="checkbox" name="city" id="mexico city" onclick="onclickchecker(this)" > Mexico City <br>
				<input type="checkbox" name="city" id="nyc" onclick="onclickchecker(this)"> New York City (NYC) <br>
				<input type="checkbox" name="city" id="paris" onclick="onclickchecker(this)" > Paris <br>
			</div>
		</div>

		<br> <br>
		<div id="lang-filter" class="left">
			<div class="centered">
				<h4>Language Filter</h4>
				<input type="checkbox" name="language" id="en" onclick="onclickchecker(this)"> English <br>
				<input type="checkbox" name="language" id="fr" onclick="onclickchecker(this)" > French <br>
				<input type="checkbox" name="language" id="hi" onclick="onclickchecker(this)"> Hindi <br>
				<input type="checkbox" name="language" id="es" onclick="onclickchecker(this)" > Spanish <br>
				<input type="checkbox" name="language" id="th" onclick="onclickchecker(this)"> Thai <br>
			</div>
		</div>

		<br> <br>
		<div id="pseudo-filter" class="left">
			<div class="centered">
				<input type="checkbox" name="pseudo"  id="pseudo" onclick="onclickchecker(this)" class="boldCheckbox"> <strong>Pseudo Relevance</strong><br>
			</div>
		</div>


	</div>

<div class="middle"><br>
	<form id = "form1">
      <div class="form-group">
       <input type="text" class="form-control"  style="width:60%;" id="search_text">
      </div>
	   <br>
	 <button type="submit" id="submit" class="btn btn-default">Search</button>
    </form>
	<br>
	<div id = "total-tweets"></div>
	<br> <br>
	<div id="tweets-div"></div>
    <div id="page-selection"></div>
</div>

<div class="right">
  <div class="centered">
		<center><h4>Analyse</h4> </center>
		<center>
		<select id="mySelect" onchange="updateCharts(this.value)">
				<option selected="location" value="location">Location</option>
				<option value="language">Language</option>
				<option value="topics">Topics</option>
				<option value="timeSeriesCity">Time Series City</option>
				<option value="timeSeriesLanguage">Time Series Language</option>
				<option value="timeSeriesTopic">Time Series Topic</option>
				<option value="timeSeriesSentiments">Time Series</option>
				<option value="sentiments">Sentiments</option>
				<option value="hashtags">Hashtags</option>
				<option value="mentions">Mentions</option>
				<option value="area">Area Chart</option>
		</select>
	   </center>
	   <br>
    <div id="chartContainer" style="height: inherit; width: 100%;"></div>
  </div>
</div>

</div>
</body>
</html>
