/* CSS to make selected elements responsive to width of screen */

@media screen and (max-width: 320px) {
  #product-brand-logo {
    max-height: 35px;
  }
  #brand-info-logo {
    max-width: 80px;
  }
  #zb-footer-logo-white {
    margin-right: 15px !important;
  }
  .color-selection-item-txt {
    max-width: 80px;
    padding-left: 5px;
  }
  #selected_color {
    max-width: 58px;
    margin-left: 5px;
  }
  .color-selection-item-img, .color-selection-item-div {
    height: 25px;
    width: 25px;
  }
  #county-dialog .modal-dialog, #phone-dialog .modal-dialog, #paypal-relogin-dialog .modal-dialog, #promo-not-applied-error .modal-dialog {
    top: 20%;
  }
  .qty-selection {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

@media screen and (max-width: 375px) {
  .color-selection-item-txt {
    max-width: 95px;
  }
  #selected_color {
    max-width: 70px;
  }
}

@media screen and (min-width: 500px) {
  #selected_color {
    max-width: 150px;
  }
  .color-selection-item-txt {
    font-size: 16px;
    max-width: 170px;
  }
}