/* Should only contain CSS for the items used */
/* Move all styling to this file instead of having it inline in html */

/* Conventions used 
    aln - align
    hz - horizontal
    vt - vertical
    ft - font
    ln - line
    ht - height
    wt - weight
    rt - right
    imp - !important
    ln-ht - line-height
    let - letter
    sp - spacing
*/

/* text classes */
html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;   
            }
#container {
                width: inherit;
                height: inherit;
                margin: 0;
                padding: 0;
            }


.left{
  margin-left: 15px;
  margin-right: 15px;
}

.left1{
	background-color: #ccc!important;
    left: 0px;
    margin-left: 0px;
    display: inline-block;
    position: absolute;
    width: 12%;
	height: 143%;
}

.right {
  width: 30%;
  position: absolute;
  right: 0px;
  border: 1.5px solid #73AD21;
  padding: 10px;
  margin-right: 1%;
  display: inline-block;
height: 143%;
}

.middle {
	width: 50%;
    margin-right: 20%;
    margin-left: 15%;
    display: inline-block;
    position: absolute;
    height: 100%;
}

.tweet_user{
	color:blue;
	font-size:16px;
}

.tweet_id{
	color:gray;
	font-size:10px;
}

.tweet_text{
	color:black;
	font-size:16px;
	padding-bottom: 20px;
}

#tweets-div{
height:130%;
max-height: 105% ;
overflow-y: auto;
}

.page-size{
  width: 50%;
}

#total-tweets{
	color:black;
	font-weight:bold;
	font-size:15px;
}
.error{
	color:red;
	font-size:20px;
}
.page {
    display: none;
  }
.page-active {
    display: block;
  }

#chartContainer {
  width: 100%;
  margin-left: 0px;
  margin-right: 3px;
  padding-right: 2px;

  }