/* Should only contain CSS for the items used */
/* Move all styling to this file instead of having it inline in html */

/* Conventions used 
    aln - align
    hz - horizontal
    vt - vertical
    ft - font
    ln - line
    ht - height
    wt - weight
    rt - right
    imp - !important
    ln-ht - line-height
    let - letter
    sp - spacing
*/

/* text classes */
.left{
  margin-left: 15px;
  margin-right: 15px;
}

.w3-light-grey{
height: 100%;
border:1px;
background-color: #f1f1f1!important;
left: 0px;
margin-left: 0px;
display:inline-block;
position:absolute;
float: left;
margin-right: 15px;
width: 15%;
}

.right {
  width: 30%;
  position: absolute;
  right: 0px;
  border: 3px solid #73AD21;
  padding: 10px;
  margin-right: 20px;
  display: inline-block;
}

.middle {
  width: 70%;
  padding-left:10px;
  margin-left: 20%;
  display: inline-block;
  position: absolute;
}

.tweet_user{
	color:blue;
	font-size:16px;
}

.tweet_id{
	color:gray;
	font-size:10px;
}

.tweet_text{
	color:black;
	font-size:16px;
	padding-bottom: 20px;
}

#total-tweets{
	color:black;
	font-weight:bold;
	font-size:15px;
}
.error{
	color:red;
	font-size:20px;
}